<section class="bloginner">
    <div class="blog-img">
        <img src="../uploads/images/<%-blog.image %> " alt="">
    </div>
    <div class="blog-text">
        <h2><%- blog.title %> </h2>
        <p><%- blog.description %> </p>

           <ul>
            <li>By: Nuh Aydoğdu</li>
            <li><%- blog.dateCreated %> </li>
        </ul>
    </div>


</section>