<div class="home">
    <div class="container1">
        <div class="home-content">
            <h1>I'M
                <span class="txt-rotate" data-period="2000"
                    data-rotate='[ "Nuh Aydoğdu", "a Student", "a Designer", "a Developer"]'></span>
            </h1>
            <p>Designer and Developer </p>
            <ul>
                <li><a href="https://www.linkedin.com/in/nuh-aydd/"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://github.com/nuhaydogdu"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="https://www.instagram.com/aydd_nuh/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/ayddnuh"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<section class="about">

    <div class="about-inner">
        <article class="portfolio-wrapper">
            <div class="portfolio-img">
                <img src="/images/home1.jpeg" class="about-me-profile" alt="about me profile picture">
            </div>
            <div class="portfolio-bottom">
                <div class="portfolio-name">
                    <span>N</span>
                    <h2 class="universal-h2">uh Aydoğdu</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolore non assumenda nulla
                    atque consectetur.</p>
            </div>
        </article>

        <div class="about-me-text">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, ipsum vero adipisci id ipsam
                consectetur cumque nam velit quos doloribus. Eum cumque libero iusto quasi porro saepe provident,
                ullam unde quam aliquam sint nisi illum beatae qui voluptates necessitatibus molestiae officiis,
                perferendis tempore corporis ad expedita voluptatibus vitae.

            </p>
        </div>
    </div>

    <div class="about-bg" id="about"></div>

</section>

<div id="journal">

    <div class='title'>

        <h2>JOURNAL</h2>

        <!--divider-->
        <div class='divider-draft center'></div>
        <!--/divider-->
    </div>


    <div class="journal-block">
        <div class="row">

            <div class="journal-info">
                <div class="journal-img">
                    <a href="blog1.html"><img src="/images/blog-post-1.jpeg" class="img-responsive" alt="img"></a>
                </div>
                <div class="journal-txt">
                    
                    <h4><a href="blog1.html">başlık  </a></h4>
                    <p class="separator">içerik (burası sınırlandırılmsı gerekiyor) </p>
                </div>
            </div>
        </div>
    </div>


</div>

<div id="contact" style="width:100%; padding-top: 85px;"></div>
<section class="contact">
    <div class="container2">
        <div class="right">
            <h2>GET IN TOUCH</h2>
            <ul>
                <li><a href="#"><i class="fa-solid fa-map-location"></i> İstanbul/Arnavutköy</a></li>
                <li><a href="#"><i class="fa-solid fa-envelope"></i> nuhaydd25@gmail.com</a></li>
                <li><a href="#"><i class="fa-solid fa-phone"></i> 0545 617 55 39</a></li>
            </ul>

        </div>
        <div class="left">
            <form class="contact-form" action="">
                <div class="contact-input">
                    <div class="inputs"><input type="text" name="name" class="form-control" id="name"
                            placeholder="Your Name" required=""></div>
                    <div class="inputs"><input type="email" class="form-control" name="email" id="email"
                            placeholder="Your Email" required=""></div>
                </div>
                <div class="contact-textarea">
                    <textarea class="form-control" name="message" placeholder="Message" required=""></textarea>
                </div>
                <div class="contact-btn">
                    <button>Send Message</button>
                </div>
            </form>
        </div>
    </div>

</section>