<!-- ----------------------------------- -->
<section id='resume' class='resume-section section'>

    <div class='title'>

        <h2 class='animate text-over-block'>MY RESUME</h2>

        <!--divider-->
        <div class='divider-draft center'></div>
        <!--/divider-->
    </div>

    <div class='timeline-block section-block'>
        <ul class='timeline' style="padding-inline-start: 0;">

            <li class='timeline-header'>
                <h4>Education</h4>
            </li>

            <li>
                <div class='timeline-desc'>
                    <h4>2015-2019</h4>
                </div>

                <div class='timeline-content'>
                    <h4>Masters Degree</h4>
                    <p>
                        Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari
                        sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo.
                    </p>
                </div>
            </li>

            <li class='inverse'>
                <div class='timeline-desc'>
                    <h4>2019-(Current)2024</h4>
                </div>

                <div class='timeline-content'>
                    <h4>Masters Degree</h4>
                    <p>
                        Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari
                        sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo.
                    </p>
                </div>
            </li>

            <li class='timeline-header'>
                <h4>Experience</h4>
            </li>

            <li>
                <div class='timeline-desc'>
                    <h4>2021-2022</h4>
                </div>

                <div class='timeline-content'>
                    <h4>Web Designer</h4>
                    <p>
                        Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari
                        sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo.
                    </p>
                </div>
            </li>

            <li class='inverse'>
                <div class='timeline-desc'>
                    <h4>07.2022-08.2022</h4>
                </div>

                <div class='timeline-content'>
                    <h4>Web Developer</h4>
                    <p>
                        Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari
                        sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo.
                    </p>
                </div>
            </li>

        </ul>
    </div>

    <!-- ----------------------------------- -->

    <div class='hobbies-block bg-lightgray section-block'>


        <div class='title'>

            <h2 class='animate text-over-block'>My Hobbies</h2>

            <!--divider-->
            <div class='divider-draft center'></div>
            <!--/divider-->
        </div>

        <div class='row'>

            <div class='col-md-2 col-sm-4 col-xs-6'>

                <div class='hobby'>

                    <div class='icon'>
                        <i class="fa-solid fa-gamepad"></i>
                    </div>

                    <h4>Gaming</h4>

                </div>

            </div>

            <div class='col-md-2 col-sm-4 col-xs-6'>

                <div class='hobby'>

                    <div class='icon'>
                        <i class="fa-solid fa-book-open"></i>
                    </div>

                    <h4>Reading</h4>

                </div>

            </div>

            <div class='col-md-2 col-sm-4 col-xs-6'>

                <div class='hobby'>

                    <div class='icon'>
                        <i class="fa-solid fa-music"></i>
                    </div>

                    <h4>Music</h4>

                </div>

            </div>


            <div class='col-md-2 col-sm-4 col-xs-6'>

                <div class='hobby'>

                    <div class='icon'>
                        <i class="fa-solid fa-futbol"></i>
                    </div>

                    <h4>Football</h4>

                </div>

            </div>


            <div class='col-md-2 col-sm-4 col-xs-6'>

                <div class='hobby'>

                    <div class='icon'>
                        <i class="fa-solid fa-table-tennis-paddle-ball"></i>
                    </div>

                    <h4>Tennis</h4>

                </div>

            </div>



        </div>



    </div>


    <!-- ----------------------------------- -->

    <div class='skills-block section-block'>



        <div class='title'>

            <h2 class='animate text-over-block'>My Skills</h2>

            <!--divider-->
            <div class='divider-draft center'></div>
            <!--/divider-->
        </div>


        <div class='row'>

            <div class='col-md-6'>

                <div class='skill'>

                    <h4>HTML/CSS</h4>

                    <div class='skill-bar' data-percent='80'>
                        <div class='bar bar-htmlcss'>
                            <div class='percent'>80%</div>
                        </div>
                    </div>

                </div>

                <div class='skill'>

                    <h4>JavaScript</h4>

                    <div class='skill-bar' data-percent='60'>
                        <div class='bar bar-javascript'>
                            <div class='percent'>60%</div>
                        </div>
                    </div>

                </div>

                <div class='skill'>

                    <h4>Photoshop</h4>

                    <div class='skill-bar' data-percent='50'>
                        <div class='bar bar-photoshop'>
                            <div class='percent'>50%</div>
                        </div>
                    </div>

                </div>


            </div>

            <div class='col-md-6'>

                <div class='skill'>

                    <h4>Unity</h4>

                    <div class='skill-bar' data-percent='60'>
                        <div class='bar bar-unity'>
                            <div class='percent'>60%</div>
                        </div>
                    </div>

                </div>

                <div class='skill'>

                    <h4>C#</h4>

                    <div class='skill-bar' data-percent='50'>
                        <div class='bar bar-csharp'>
                            <div class='percent'>50%</div>
                        </div>
                    </div>

                </div>

                <div class='skill'>

                    <h4>Java</h4>

                    <div class='skill-bar' data-percent='70'>
                        <div class='bar bar-java'>
                            <div class='percent'>70%</div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>


    <!-- ----------------------------------- -->

    <div class="cv">
        <button id="download"><a download href="/download/Nuh_Aydoğdu_cv.pdf">DOWNLOAD CV<i
                    class="fa-solid fa-download"></i></a></button>
    </div>
</section>